@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .theme-morning {
    --color-bg: 207 90% 96%;
    --color-surface: 0 0% 100%;
    --color-text-primary: 206 82% 23%;
    --color-text-secondary: 203 76% 56%;
    --color-accent: 33 94% 57%;
  }

  .theme-afternoon {
    --color-bg: 24 94% 92%;
    --color-surface: 39 86% 96%;
    --color-text-primary: 16 63% 25%;
    --color-text-secondary: 24 82% 56%;
    --color-accent: 358 75% 58%;
  }

  .theme-night {
    --color-bg: 222 39% 11%;
    --color-surface: 223 33% 17%;
    --color-text-primary: 210 40% 98%;
    --color-text-secondary: 217 91% 60%;
    --color-accent: 54 96% 72%;
  }

  .theme-dawn {
    --color-bg: 275 69% 94%;
    --color-surface: 300 100% 98%;
    --color-text-primary: 274 37% 33%;
    --color-text-secondary: 275 62% 60%;
    --color-accent: 333 87% 65%;
  }

  body {
    background-color: hsl(var(--color-bg));
    color: hsl(var(--color-text-primary));
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea,
  select {
    background-color: hsl(var(--color-surface));
    color: hsl(var(--color-text-primary));
    border-color: hsla(var(--color-text-secondary), 0.3);
  }

  input::placeholder,
  textarea::placeholder {
    color: hsl(var(--color-text-secondary));
    opacity: 0.7;
  }
  
  .button-primary {
      background-color: hsl(var(--color-accent));
      color: hsl(var(--color-bg));
  }

  .button-secondary {
      background-color: hsl(var(--color-surface));
      color: hsl(var(--color-text-primary));
      border: 1px solid hsl(var(--color-text-secondary));
  }
}

@layer components {
  .custom-select {
    @apply appearance-none cursor-pointer rounded-md p-2 pr-8 border;
    background-color: hsl(var(--color-surface));
    border-color: hsla(var(--color-text-secondary), 0.3);
    color: hsl(var(--color-text-primary));
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='hsl(var(--color-text-secondary))' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
  }
}